.title {
    color:  rgb(25, 33, 44);
    text-align: left;
    font-family: 'Abril Fatface', cursive;
    padding: 5px 0px 5px 55px;
    font-size: 65px;
   
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 3%;
    background-color: rgb(13, 202, 177);
}

/* Dropdown Button */
.dropbutton {
    padding-top: 5px;
    font-size: 22px;
    border: none;
}
.dropdown-list {
    position: relative;
    display: inline-block;
}
.dropdown-links {
    display: none;
    position: absolute;
    background-color: black;
}
.dropdown-links a {
    color: white;
    text-decoration: none;
    display: block;
}
.dropdown-links a:hover {
    background-color: rgb(151, 148, 148);
}
.dropdown-list:hover .dropdown-links {
    display: block;
}
.dropdown-list .dropbutton {
    background-color: rgb(13, 202, 177);
}



/* Footer Styling */
#footer-label {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    background-color: rgb(13, 202, 177);
    border-top-style: ridge;
    border-color: rgb(27, 108, 116);
}

/* Navbar */
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    list-style-type: none;
}

.li:hover {
    text-decoration: underline gray;
    transform: scale(1.1);
}

nav a {
    text-decoration: none; 
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: rgb(15, 9, 9);
    font-size: 22px;
    padding: 15px;
}  

a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

/* Search Bar */
#search-input {
    border-radius: 0px;
    margin-left: 20px;
    margin-top: 10px;
}

#search {
    padding: 1%;
    font-size: 25px;
    font-weight: 700;
    color: rgb(231, 219, 233);
}

#search-input {
    border-radius: 0px;
    width: 300px;
    height: 35px;
    font-size: 25px;
    font-style: italic;
    margin-top: 5px;
}

/* Search Button */
#search-button {
    display: inline;
    justify-content: center;
    height: 200px;
    margin-top: 5px;
}

/* Subtitle */
.subtitle {
    margin-left: 20px;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 20px;
}

/* Stock Table */
.stock-list {
    display: flex;
    
    padding: 20px 20px 20px 20px;
    justify-content: left;
    border-style: groove;
    border-color: rgb(13, 202, 177);
    border-radius: 20px;
    border-width: 20px;
    margin-top: 10px;
    /* width: 0%; */
}

/* Search Button Style */
#search {
    margin-left: 5px;
    padding: 5px;
    font-size: 20px;
    margin-top: 5px;
    background-color: rgb(13, 202, 177);
    color: rgb(0, 0, 0);
}

#search-form {
    margin-top: 15px;
}

.searchandforex {
    display: flex;
    margin: 5px;
}

.forexwiget {
    margin-left: 20px;
}




.stockChartContianer {
   margin-left: 5px;
    
}



/* News */
#newsContainer {
    display:flex;
    width: min(90%, 1000px);
    margin-inline: auto;
}

#newsContainer div {
   
    overflow: auto;
    justify-content: center;
    border-style: solid;
    margin: 2%;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;
    margin: 5px; 
    max-width: 25%;
    padding: 5px;
}

#newsContainer div h2 {
    font-weight: 700;
    text-decoration: underline;
}

#newsContainer a {
   word-wrap: break-word;
   padding: 5px;
   justify-content: center;
   text-align: center;

}





/* p {
    margin-bottom: 10px;
} */
/* Style for the news cards */



/* NAV BAR */
/* 
:hover {
    transform: scale(1.04);
} */